<div class="flex items-center flex-col gap-16">
    <div class="flex gap-8 justify-center items-center">
        <img src="/img/error.svg" alt="" class="w-[80px]">
        <div class="text-5xl">Error <%= status %></div>
    </div>
    <div class="text-4xl text-center"><%= message %></div>
    <div class="text-2xl">Click here to <a href="javascript:history.back()" class="text-violet-400">Go back</a></div>
</div>