<div class="flex items-center flex-col gap-16">
    <div class="flex gap-8 justify-center items-center">
        <img src="/img/error.svg" alt="" class="w-[80px]">
        <div class="text-4xl">Error <%= status %></div>
    </div>
    <div class="text-4xl"><%= message %></div>
    <div class="text-xl">Click here to <a href="javascript:history.back()" class="text-violet-400">go back</a></div>
</div>