<a href="mybid"><button class="bg-gradient-to-b from-lime-700 to-lime-900 py-4 px-4 rounded-full flex justify-center items-center gap-2">My Bids</button></a>
<button class="bg-gradient-to-b from-lime-700 to-lime-900 py-2 px-4 rounded-full flex justify-center items-center gap-2"><img src="/img/profile.svg" alt="" class="w-[30px]">Profile</button>