<a href="auth/signup"><button class="text-xl bg-gradient-to-b from-sky-700 to-sky-900 py-2 px-4 rounded-full">Sign up</button></a>
<a href="auth/signin"><button class="text-xl bg-gradient-to-b from-lime-700 to-lime-900 py-2 px-4 rounded-full">Sign in</button></a>