<form action="/auth/signin" method="post" class="flex items-center flex-col gap-6">
    <div class="text-4xl">Sign in</div>
    <input type="email" name="email" required placeholder="email" class="bg-black rounded-lg p-2 w-[400px] h-12">
    <div class="flex justify-center relative">
        <input type="password" name="password" required placeholder="password" class="bg-black rounded-lg p-2 w-[400px] h-12 password">
        <img src="/img/invisible.svg" alt="" class="visibility absolute right-4 top-4">
    </div>
    <a href=""><h1 class="text-violet-400">Forgot password?</h1></a>
    <button type="submit" class="w-[400px] bg-violet-800 p-2 rounded-lg h-12">Sign in</button>
    <h1>Don't have an account? <a href="./signup" class="text-violet-400">Sign up</a></h1>
</form>