@font-face {
    font-family: 'title_font';
    src: url('../fonts/title_font.otf') format('truetype');
}

@font-face {
    font-family: 'body_font';
    src: url('../fonts/body_font.ttf') format('truetype');
}
