<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Bids</title>
    <link href="/src/input.css" type="text/css" rel="stylesheet">
    <link href="/src/output.css" type="text/css" rel="stylesheet">
    <!-- <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"> -->
</head>
<body class="text-white font-body_font flex">
    <div class="absolute top-0 z-[-2] h-screen w-screen flex flex-col items-center bg-[#000000] bg-[radial-gradient(#ffffff33_1px,#00091d_1px)] bg-[size:20px_20px]">
        <div class="text-4xl text-yellow-400 p-14 text-center">&lt; Post Bids &gt;</div>
        <div class="px-14 text-xl flex justify-center items-center ">

            <form action="/postbid" method="post" enctype="multipart/form-data" class="flex flex-col gap-10 justify-center items-center">
                <div class="flex gap-16 justify-center">
                    <div class="flex flex-col gap-10">
                        <div class="flex justify-between items-center gap-4 ">
                            <label for="name">Company Name</label>
                            <input type="text" name="name" class="rounded-md text-black p-2 text-sm w-[400px]" required>
                        </div>                    
                        <div class="flex justify-between items-center gap-4 ">
                            <label for="email">Email</label>
                            <input type="email" name="email" class="rounded-md text-black p-2 text-sm w-[400px]" required>
                        </div>                   
                        <div class="flex justify-between items-center gap-4 ">
                            <label for="title">Job Title</label>
                            <input type="text" name="title" class="rounded-md text-black p-2 text-sm w-[400px]" required>
                        </div> 
                        <div class="flex justify-between items-center gap-4 ">
                            <label for="auction">Type of Auction</label>
                            <select name="auction" class="rounded-md text-black p-2 text-sm w-[400px]" required>
                                <option value="forward">Forward Auction</option>
                                <option value="reverse">Reverse Auction</option>
                            </select>                          
                        </div> 
                        <div class="flex justify-between items-center gap-4 ">
                            <label for="date">Auction Date</label>
                            <input type="date" name="date" class="rounded-md text-black p-2 text-sm w-[400px]" required>
                        </div>                                
                    </div>
                    <div class="flex flex-col gap-10">
                        <div class="flex justify-between items-center gap-4 ">
                            <label for="type">Company Type</label>
                            <input type="text" name="type" class="rounded-md text-black p-2 text-sm w-[400px]" required>
                        </div>
                        <div class="flex justify-between items-center gap-4 ">
                            <label for="contact">Contact Number</label>
                            <input type="text" name="contact" class="rounded-md text-black p-2 text-sm w-[400px]" required>
                        </div>
                        <div class="flex justify-between items-center gap-4 ">
                            <label for="description">Job Description</label>
                            <input type="text" name="description" class="rounded-md text-black p-2 text-sm w-[400px]" required>
                        </div>                  
                        <div class="flex justify-between items-center gap-4 ">
                            <label for="price">Base Price</label>
                            <input type="number" name="price" class="rounded-md text-black p-2 text-sm w-[400px]" required>
                        </div>
                        <div class="flex justify-between items-center gap-4 ">
                            <label for="time">Auction Time</label>
                            <input type="time" name="time" class="rounded-md text-black p-2 text-sm w-[400px]" required>
                        </div>
                    </div>
                </div>
                <div class="flex justify-center items-center gap-14 ">
                    <label for="image">Upload Images</label>
                    <input type="file" name="image" id="image" accept="image/*">
                </div> 
                <button type="submit" class="bg-gradient-to-b from-lime-700 to-lime-900 text-lg py-2 px-4 rounded-full">Post Bids</button>
            </form>
        </div>
    </div>
</body>
</html>