<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link href="/src/input.css" type="text/css" rel="stylesheet">
    <link href="/src/output.css" type="text/css" rel="stylesheet">
    <!-- <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"> -->
</head>
<body>
    <div class="absolute inset-0 -z-10 h-full w-full flex justify-center items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]">
        <div class="w-[500px] h-[500px] bg-gray-500 bg-opacity-20 rounded-2xl px-6 py-10 text-white">
            <form action="/web/signup" method="post" class="flex items-center flex-col gap-6">
                <div class="text-4xl">Sign up</div>
                <input type="email" name="email" required placeholder="email" class="bg-black rounded-lg p-2 w-[400px] h-12">
                <div class="flex justify-center relative">
                    <input type="password" name="password" required placeholder="Create password" class="bg-black rounded-lg p-2 w-[400px] h-12 password">
                    <img src="/img/invisible.svg" alt="" class="visibility absolute right-4 top-4">
                </div>
                <div class="flex justify-center relative">
                    <input type="password" name="confirmPassword" required placeholder="Confirm password" class="bg-black rounded-lg p-2 w-[400px] h-12 password">
                    <img src="/img/invisible.svg" alt="" class="visibility absolute right-4 top-4">
                </div>
                <button type="submit" class="w-[400px] bg-violet-800 p-2 rounded-lg h-12">Sign up</button>
                <h1>Already have an account? <a href="./signin" class="text-violet-400">Sign in</a></h1>
            </form>
        </div>

        <div class="toast-container"></div>
    </div>

    <script>
        let elements = document.getElementsByClassName('visibility');
        Array.from(elements).forEach(element => {
            element.addEventListener('click', (e) => {
                let password = e.target.parentElement.querySelector('.password');
                if (e.target.src.includes('/img/invisible.svg')) {
                    e.target.src = '/img/visible.svg';
                    password.type = 'text';
                } else {
                    e.target.src = '/img/invisible.svg';
                    password.type = 'password';
                }
            });
        });
    </script>
</body>
</html> 
